/*   * {border: solid 1px red;}    */

@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/inconsolata.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inconsolata";
}
img {
  display: flex;
  width: 25%;
  cursor: pointer;
}
.main-header {
  position: relative;  
  background-color: #000000;
  padding: 0 20px;
}

.main-header__container{
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  justify-content: flex-start;
}
.shop-barras{
  display: flex;
  justify-content: flex-end;
}
.main-header__link {
  color: #333;
}

/* Estilos del Menu */
.main-nav {
  opacity: 0;
  transition: all 0.5s;
  z-index: 999999;
  display: hidden;
}

.menu{
  position: absolute;
  top: 180px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto
}
.menu__link {
  padding: 20px;
  color:white;
  text-decoration: none;
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.icon-menu{
  font-size: 2em; 
  padding: 20px 10px;
  cursor: pointer;
  margin-left: auto;
}
.main-header__btn{
  font-size: 1.7em;
  padding: 22px 5px;
  color: #454546;
  cursor: pointer;
  margin-left:auto;
}
.main-header__input{
  display: block;
  padding: 10px;
  width: 50%;
}

/* ESTILOS DE SLIDER */
.container-slider{
  margin: 0px 0;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  height: 500px;
  margin-left: -100%;
  position: relative;
}
.slider:before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100%;
}

.slider__section {
  width: 100%;
  position: relative;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover { 
  background: #fff;
}
.slider__btn--left{
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 999;
}
.slider__title{
  font-size: 2.2em;
  margin: 0;
}
.btn-shop{
  display: block;
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.btn-shop:hover{
  background: gray;
  color: white;
}

/* ESTILOS DE PRODUCTOS */
.container-products {
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.product {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.product__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.product__description {
  position: absolute;
  bottom: 0;
  left:0;
  color: white;
  width: 100%;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}
.btn-product{
  display: block;
  border: 2px solid #000000;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
  transition: all 0.5s;  
}

/* ESTILOS DE PRODUCTOS COMPU*/
@media only screen and (min-width: 1020px) {
  .container-products {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    height: 800px;
  }

  .product {
    width: 100%;
    text-align: center;
    position: relative;
  }
  #foto1{
    padding:0px 3px 0px 0px;
  }
  #foto2{
    padding:0px 0px 0px 0px;
  }
  .product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product__description {
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    width: 100%;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product__title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .btn-product{
    display: block;
    border: 2px solid #000000;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;  
  }
}
/* VENTA DE ROPA */

.seccion-venta {
  background-color: black;
  color: white;
  padding: 50px 0;
  width: 100%;
  box-sizing: border-box;
}

.container-venta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-venta {
  text-align: center;
  margin-bottom: 40px;
}

.titulo-venta h2 {
  font-size: 36px;
  margin: 12px;
}

.titulo-venta h3 {
  font-size: 14px;
  margin: 0;
}

.venta-email {
  display: flex;
}

.venta-email form {
  display: flex;
}

.venta-email input[type="email"] {
  width: 300px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: none;
  padding-left: 10px;
}

.venta-email button {
  width: 50px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.venta-email button i {
  font-size: 20px;
  color: black;
}

.venta-email button:hover {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .venta-email {
    flex-direction: column;
    align-items: center;
  }
  
}

/* SLIDER DE ROPA */
.destacados {
  position: relative;
}

.slider2 {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slide2 {
  flex: 0 0 17%; /* Cambiar el tamaño de las diapositivas */
  padding: 0 10px;
  box-sizing: border-box;
}

.slide2 img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Hacer las imágenes más pequeñas */
  max-height: 100%; /* Hacer las imágenes más pequeñas */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* FOOTER */

.main-footer{
  background: #151515;
  color: white;
  padding: 30px 20px;
}
.footer__title{
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer__txt {
  color: #555;
}
.footer__link{
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer__input{
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}
.copy {
  color: #555;
}


/*Estilos para web*/

@media screen and (min-width:1024px) { 

  .logo{
    display: none;
  }
  .titulo{
    font:20px;
    
  }
  .icon-menu{
    display: none;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .main-header__btn{
    width: 130px;
    padding: 20px 0 30px 10px;
    margin-bottom: 20px;
  }
  .main-nav{
    opacity: 1; 
    width: 100%;
  }
  .linea{
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    height: 1px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;
  }
  .menu__link{
    color: white;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }

  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .copy {
    grid-column-start: span 4;
    text-align: center;
  }
}

