@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/inconsolata.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Brian James";
  src: url('fonts/BrianJames.ttf');
}
* {
  margin:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inconsolata";
}
img {
  display: flex;
  width: 25%;
  cursor: pointer;
}

.main-header {
  position: relative;
  background-color: #000000;
  display: flex;
  align-items: center;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo{
  display: none;
}
.icon-menu {
  font-size: 30px;
  display: none;
  color: white;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left:40px;
  cursor: pointer;
}
.main-header__btn {
  cursor: pointer;
  width:4%;
  margin-bottom: 25px;
  margin-right: 40px;
  margin-top:25px;
}
.main-header__btn img {
  width: 100%;
  cursor: pointer;
  margin:0px;
  
}
.titulo{
  margin-left: 440px;
}

.texto-titulo{
  cursor: pointer;
  font-family: 'Brian James';
  text-align: center;
  flex-grow: 1;
  color: white;
  font-size: 28px;
}

.linea {
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.main-nav {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  text-align: center;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}


@media (max-width: 800px) {
  .logo {
    display: block;
    width:500%;
  }
  .main-header{
    margin:0px;
    padding:0px;
  }
  .main-header__container{
    margin:10px;
    padding:0px;
  }
  .main-header__btn {
    cursor: pointer;
    width:55%;
    margin-bottom: 25px;
    margin-right: 0px;
    margin-top:25px;
  }
  .main-header__btn img{
    width:100%;
    margin:0px;
  }
  
  .icon-menu {
    padding:5px;
    font-size: 25px; /* Tamaño del icono del menú */
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 25px; /* Mover el icono hacia la derecha */
    cursor: pointer;
  }

  .titulo {
    display: none;
  }

  .linea {
    display: none;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px;
  }

  .menu {
    display: block;
  }

  .menu__item {
    text-align: center;
    margin-bottom: 10px;
  }

  .menu__link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  }
  .menu-active .main-nav {
  display: block; 
  }

  /* Botones de filtro y de Orden */
  .filtro-orden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  }

  .box {
  cursor: pointer;
  border-radius: 5px ;
  padding: 8px;
  border:1px solid #2c3e50;
  }

  .filter, .sort {
  display: flex;
  align-items: center;
  }

  .filter span, .sort span {
  color: #2c3e50;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 60px;

}

.sort {
  margin-left: auto;
}

  
.main {
    padding: 0 20px;
}

  /* Productos*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin:20px 10px 10px 10px
}
  
  .grid-container img {
    width: 100%;
    height: auto;
  }
  .descripcion {
    color: #2c3e50;
  }
  #buy-button {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #2c3e50;
    border: none;
    color: #FFF;
    padding: 5px 10px;
    font-size: 12px;
    
    cursor: pointer;
    border-radius: 5px;
  }
  .buy-button:hover {
    background-color: #5b1396;
  }
  .grid-item img {
    max-width: 100%;
  }
  .precio {
    font-size: 14px;
    font-weight: 700;
  }
  .titulo-producto {
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    margin-top: 10px;
  }
  .detalles{
    color:rgba(58, 84, 110, 0.9);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
  }


  /* Productos Compu*/
  @media only screen and (min-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      margin:20px 10px 10px 10px
  }
    
    .grid-container img {
      width: 100%;
      height: auto;
    }
    .descripcion {
      color: #2c3e50;
    }
    #buy-button {
      font-family: "Plus Jakarta Sans", sans-serif;
      background-color: #2c3e50;
      border: none;
      color: #FFF;
      padding: 5px 10px;
      font-size: 12px;
      
      cursor: pointer;
      border-radius: 5px;
    }
    .buy-button:hover {
      background-color: #5b1396;
    }
    .grid-item img {
      max-width: 100%;
    }
    .precio {
      font-size: 14px;
      font-weight: 700;
    }
    .-producto {
      line-height: 16px;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 13px;
      margin-top: 10px;
    }
    .detalles{
      color:rgba(58, 84, 110, 0.9);
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 12px;
    }
  }
/* FOOTER */

.main-footer{
  background: #151515;
  color: white;
  padding: 30px 20px;
}
.footer__title{
  color: #555;
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer__txt {
  color: #555;
}
.footer__link{
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer__input{
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}
.copy {
  color: #555;
}


/*Estilos para web*/

@media screen and (min-width:1024px) { 


  .main-footer {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .footer__input{
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}


  .copy {
    grid-column-start: span 4;
    text-align: center;
  }

}
  